// Viewports
$mobile-tablet-width-only: 1439px;
$tablet-width: 768px;
$desktop-width: 1440px;

// States
$logo-opacity-hover: 0.6;
$logo-opacity-active: 0.3;
$outline-focus-light: 1px solid #ffffff;
$outline-focus-dark: 1px solid #2d383f;
$outline-hover-btn: 1px solid #1c3374;
$color-hover-focus-btn: #1c3374;
$bg-active-btn: #1c3374;
$bg-disabled-btn: #999999;
$outline-offset-focus: 2px;
$link-color-hover: rgba(2, 101, 193, 0.1);
$link-color-active: #1c3374;
